{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row py-4">
    <div class="col-md-12">
      <h2 class="text-center fw-bold">Preprocessing</h2>
      <p class="text-center fw-light">for Junior High Schools at Padang, Sumatera Barat.</p>
    </div>
  </div>
  <div class="col-md-12 mb-3">
    <h4>Data Cleaning</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sekolah</th>
          <th>P1</th>
          <th>P2</th>
          <th>P3</th>
          <th>P4</th>
          <th>P5</th>
          <th>P6</th>
          <th>T1</th>
          <th>T2</th>
          <th>T3</th>
          <th>T4</th>
          <th>T5</th>
          <th>T6</th>
          <th>I1</th>
          <th>I2</th>
          <th>I3</th>
          <th>I4</th>
          <th>I5</th>
          <th>I6</th>
          <th>SD1</th>
          <th>SD2</th>
          <th>SD3</th>
          <th>SD4</th>
          <th>SD5</th>
          <th>SD6</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in result_data_cleaning %}
        <tr>
          <td>{{ obj.Sekolah }}</td>
          <td>{{ obj.P1 }}</td>
          <td>{{ obj.P2 }}</td>
          <td>{{ obj.P3 }}</td>
          <td>{{ obj.P4 }}</td>
          <td>{{ obj.P5 }}</td>
          <td>{{ obj.P6 }}</td>
          <td>{{ obj.T1 }}</td>
          <td>{{ obj.T2 }}</td>
          <td>{{ obj.T3 }}</td>
          <td>{{ obj.T4 }}</td>
          <td>{{ obj.T5 }}</td>
          <td>{{ obj.T6 }}</td>
          <td>{{ obj.I1 }}</td>
          <td>{{ obj.I2 }}</td>
          <td>{{ obj.I3 }}</td>
          <td>{{ obj.I4 }}</td>
          <td>{{ obj.I5 }}</td>
          <td>{{ obj.I6 }}</td>
          <td>{{ obj.SD1 }}</td>
          <td>{{ obj.SD2 }}</td>
          <td>{{ obj.SD3 }}</td>
          <td>{{ obj.SD4 }}</td>
          <td>{{ obj.SD5 }}</td>
          <td>{{ obj.SD6 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- Button to Dataset -->
  <div>
    <a class="btn btn-dark" href="{% url 'datatransformation' %}">Back</a>
    <!-- <a class="btn btn-dark" href="{% url 'dataset' %}">Dataset</a> -->
  </div>
</div>
{% endblock content %}