{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row py-4">
    <div class="col-md-12">
      <h2 class="text-center fw-bold">Proccessing</h2>
      <p class="text-center fw-light">K-Means Algorithm & Support Vector Machines with Confusion Matrix</p>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-md-12 mb-3">
      <h4>K-Means</h4>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sekolah</th>
              <th>People</th>
              <th>Technology</th>
              <th>Innovation</th>
              <th>Self Development</th>
              <th>Cluster Label</th>
            </tr>
          </thead>
          <tbody>
            {% for i in result_json_kmeans %}
            <tr>
              <td>{{ i.Sekolah }}</td>
              <td>{{ i.people }}</td>
              <td>{{ i.technology }}</td>
              <td>{{ i.innovation }}</td>
              <td>{{ i.self_development }}</td>
              <td>{{ i.class_new }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Lowest SSE</th>
              <th>N Cluster</th>
            </tr>
          </thead>
          <tbody>
            {% for i in json_detail_kmeans.detail %}
            <tr>
              <td>{{ i.lowest_sse }}</td>
              <td>{{ i.n_clusters }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <h4>Support Vector Machines</h4>
      <div class="row">
        <div class="col-md-9">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th colspan="5" class="text-center">Features Training Model</th>
                </tr>
                <tr>
                  <th>Index</th>
                  <th>People</th>
                  <th>Technology</th>
                  <th>Innovation</th>
                  <th>Self Development</th>
                </tr>
              </thead>
              <tbody>
                {% for i in result_json_X_train %}
                <tr>
                  <td>{{ i.index }}</td>
                  <td>{{ i.people }}</td>
                  <td>{{ i.technology }}</td>
                  <td>{{ i.innovation }}</td>
                  <td>{{ i.self_development }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-3">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-center">Label Training Model</th>
                </tr>
                <tr>
                  <th>Cluster Label</th>
                </tr>
              </thead>
              <tbody>
                {% for i in result_json_y_train %}
                <tr>
                  <td>{{ i.class_new }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th colspan="5" class="text-center">Features Testing Model</th>
                </tr>
                <tr>
                  <th>Index</th>
                  <th>People</th>
                  <th>Technology</th>
                  <th>Innovation</th>
                  <th>Self Development</th>
                </tr>
              </thead>
              <tbody>
                {% for i in result_json_X_test %}
                <tr>
                  <td>{{ i.index }}</td>
                  <td>{{ i.people }}</td>
                  <td>{{ i.technology }}</td>
                  <td>{{ i.innovation }}</td>
                  <td>{{ i.self_development }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-3">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-center">Label Testing Model</th>
                </tr>
                <tr>
                  <th>Cluster Label</th>
                </tr>
              </thead>
              <tbody>
                {% for i in result_json_y_test %}
                <tr>
                  <td>{{ i.class_new }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th colspan="5" class="text-center fw-bold">Predict Result</th>
                </tr>
                <tr>
                  <th>Index</th>
                  <th>People</th>
                  <th>Innovation</th>
                  <th>Technology</th>
                  <th>Self Development</th>
                </tr>
              </thead>
              <tbody>
                {% for i in result_json_X_test %}
                <tr>
                  <td>{{ i.index }}</td>
                  <td>{{ i.people }}</td>
                  <td>{{ i.technology }}</td>
                  <td>{{ i.innovation }}</td>
                  <td>{{ i.self_development }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-3">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-center">Predict</th>
                </tr>
                <tr>
                  <th class="text-center">Predict Cluster Label</th>
                </tr>
              </thead>
              <tbody>
                {% for i in result_json_y_predict %}
                <tr>
                  <td>{{ i.0 }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div>{{result_json_features_predict}}</div>
    <div class="col-md-12 mb-3">
      <h4>Confusion Matrix</h4>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>True Positive</th>
              <th>False Positive</th>
              <th>False Negative</th>
              <th>True Negative</th>
            </tr>
          </thead>
          <tbody>
            <td>{{ result_json_cm.0.0 }}</td>
            <td>{{ result_json_cm.0.1 }}</td>
            <td>{{ result_json_cm.1.0 }}</td>
            <td>{{ result_json_cm.1.1 }}</td>
          </tbody>
        </table>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <td colspan="3" class="text-center fw-bold">Performance</td>
            </tr>
            <tr>
              <th>Accuracy</th>
              <th>Precision</th>
              <th>Recall</th>
            </tr>
          </thead>
          <tbody>
            <td>{{ accuracy }} %</td>
            <td>{{ precision }} %</td>
            <td>{{ recall }} %</td>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Button to Data Cleaning -->
    {% comment %}
    <div class="col-md-12 d-flex justify-content-center pb-md-5"><a class="btn btn-dark" href="{% url 'predict' %}">Predict New Data</a></div>
    {% endcomment %}
  </div>
  <div class="row"></div>
</div>
{% endblock content %}
